* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.h-boxed {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
    &--home-cta {
        max-width: 450px;
        margin: 0 auto;
    }
}

.v-boxed {
    padding-top: 50px;
    padding-bottom: 50px;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes temp-load {
    0%,80% {
        opacity: 1;
        z-index: 2;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@media screen and (max-width: map-get($breakpoints, smartphone)) {
    .h-boxed {
        z-index: 1;
        padding-right: 20px;
        padding-left: 20px;
        &__home-cta {
            max-width: 240px;
        }
    }
}