.spinner-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    animation: disappear 2500ms;
    background-color: $white;
    & div {
        font-family: "Shrikhand", sans-serif;
        width: fit-content;
        margin: auto;       
        font-size: map-get($heading-size, h1); 
    }
    & div::after {
        content: "";
        display: inherit;
        position: relative;
        margin: 20px auto 0px auto;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 6px solid $white;
        border-color: $primary transparent $secondary transparent;
        animation: spinner 700ms linear infinite;
    }
}

.iconblock {
    display: block;
    &--footer {
        padding: 0 10px 10px 0;
    }
    & i {
        font-size: 15px;
        padding-right: 15px;
    }        
}

.heading-lev1 {
    font-size: map-get($heading-size, h1);
    font-weight: 600;
    margin: 0;
    padding-bottom: 20px;
}

.button-v1 {
    background: linear-gradient(174deg, $secondary 0%, $primary 70%);
    color: $white;
    font-weight: 400;
    text-decoration: none;
    max-width: 275px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 15%);
    opacity: 1;
    position: relative;
    z-index: 1;
    &--home {
        padding: 15px 30px;
        margin: 15px auto;
    }
    &--restaurant {
        padding: 15px 60px;
        margin: 40px auto;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        opacity: 0;
        content:"";
        @include pseudo-element-resetting;
        background: linear-gradient(174deg, $light-secondary 0%, $light-primary 70%);
        border-radius: 30px;
        box-shadow: 0px 5px 5px rgb(0 0 0 / 30%);
        z-index: -1;
        transition: opacity 250ms;
    }
}

.fa-heart {
    position: relative;
    font-family: "Font Awesome 5 Free";
    content: "\f004";
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    &:active {
        opacity: 1;
        z-index: 1;
        &::before {
            top: 0;
            right: 0;
            background: -webkit-linear-gradient($secondary, $primary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: -1;
            font-weight: 600;
            transition: opacity 3s ease-in-out 250ms, z-index 3s ease-in-out 250ms;
        }
    }
}

.appear-up {
    &--1 {
        animation: appear-up 750ms 200ms ease-out backwards;
    }
    &--2 {
        animation: appear-up 750ms 350ms ease-out backwards;
    }
    &--3 {
        animation: appear-up 750ms 500ms ease-out backwards;
    }
    &--4 {
        animation: appear-up 750ms 650ms ease-out backwards;
    }
}

@media screen and (max-width: map-get($breakpoints, smartphone)) {
    .heading-lev1 {
        font-size: 27px;
    }
}