.iconblock {
    display: inline;
    &--footer {
        padding: 0 10px 10px 0;
    }
    & i {
        font-size: 15px;
        padding-right: 15px;
    }        
}

.heading-lev1 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.button-v1 {
    background: $secondary;
    background: linear-gradient(174deg, $secondary 0%, $primary 70%);
    color: $white;
    font-weight: 400;
    text-decoration: none;
    max-width: 275px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 15%);
    &--home {
        padding: 15px 30px;
        margin: 15px auto;
    }
    &--restaurant {
        padding: 15px 60px;
    }
}

@media screen and (max-width: map-get($breakpoints, smartphone)) {
    .heading-lev1 {
        font-size: 27px;
    }
}