* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.h-boxed {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}
.h-boxed--home-cta {
  max-width: 450px;
  margin: 0 auto;
}

.v-boxed {
  padding-top: 50px;
  padding-bottom: 50px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes temp-load {
  0%, 80% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@media screen and (max-width: 570px) {
  .h-boxed {
    z-index: 1;
    padding-right: 10px;
    padding-left: 10px;
  }
  .h-boxed__home-cta {
    max-width: 240px;
  }
}
nav {
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  text-align: center;
  z-index: 1;
}

.headerblock {
  display: flex;
  flex-flow: column nowrap;
}
.headerblock__back-arrow {
  position: absolute;
  left: 5%;
  top: 31px;
}
.headerblock__back-arrow i {
  font-size: 25px;
  color: #000000;
}
.headerblock__logo {
  height: 45px;
  margin: 20px 0 10px 0;
}
.headerblock__localization {
  background-color: #eaeaea;
  text-align: right;
  padding: 15px 0;
}
.headerblock__localization span {
  font-weight: 500;
}
.headerblock__localization div {
  color: #353535;
}

@media screen and (max-width: 570px) {
  .headerblock {
    align-items: center;
  }
  .headerblock__logo {
    height: 30px;
  }
  .headerblock__back-arrow {
    top: 22px;
  }
  .headerblock__localization {
    width: 100%;
    text-align: center;
    order: 2;
  }
  .headerblock__localization div {
    justify-content: center;
    padding: 10px 0;
  }
}
body {
  min-height: 100vh;
  margin: 0;
}

footer {
  background-color: #353535;
}

.footerblock {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
}
.footerblock__logo {
  font-family: "Shrikhand", sans-serif;
  text-decoration: none;
  color: #ffffff;
}
.footerblock__element a {
  color: #ffffff;
  text-decoration: none;
  margin: auto 0;
  position: relative;
  top: 3px;
}
.footerblock__element a i {
  padding: 0 7px 0 0;
}
.footerblock__element a span {
  font-weight: 400;
}
.footerblock__column {
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 768px) {
  .footerblock {
    flex-flow: column nowrap;
  }
  .footerblock__element {
    padding-bottom: 10px;
    flex-direction: column;
  }
  .footerblock__element a {
    padding: 5px 20px 5px 0;
  }
}
.spinner-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -1;
  animation: temp-load 2500ms;
  background-color: #ffffff;
}
.spinner-loader div {
  font-family: "Shrikhand", sans-serif;
  width: fit-content;
  margin: auto;
  font-size: 32px;
}
.spinner-loader div::after {
  content: "";
  display: inherit;
  position: relative;
  margin: 20px auto 0px auto;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  border-color: #9356DC transparent #FF79DA transparent;
  animation: spinner 700ms linear infinite;
}

.iconblock {
  display: inline;
}
.iconblock--footer {
  padding: 0 10px 10px 0;
}
.iconblock i {
  font-size: 15px;
  padding-right: 15px;
}

.heading-lev1 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.button-v1 {
  background: #FF79DA;
  background: linear-gradient(174deg, #FF79DA 0%, #9356DC 70%);
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  max-width: 275px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  /*    &:hover {}*/
}
.button-v1--home {
  padding: 15px 30px;
  margin: 15px auto;
}
.button-v1--restaurant {
  padding: 15px 60px;
}

@media screen and (max-width: 570px) {
  .heading-lev1 {
    font-size: 27px;
  }
}
.cta-block {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.cta-block__claim {
  font-weight: 200;
  padding: 10px 0;
}
.cta-block a {
  display: block;
}

.flow-demo ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-left: 0;
}

.flow-bullet {
  display: inline-flex;
  background-color: #f6f6f6;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  padding: 25px 0;
  text-align: center;
  border-radius: 20px;
  min-width: 250px;
  max-width: 350px;
  margin: 10px 0;
}
.flow-bullet div {
  background-color: #9356DC;
  font-size: 14px;
  color: #ffffff;
  padding: 2px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  left: -10px;
  margin-right: 5%;
}
.flow-bullet i {
  color: #353535;
}
.flow-bullet span {
  font-size: 15px;
  font-weight: 500;
}
.flow-bullet:hover {
  background-color: #f5edff;
}
.flow-bullet:hover i {
  color: #9356DC;
}

.cafe-portfolio {
  background-color: #f6f6f6;
}
.cafe-portfolio__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.cafe-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  margin: 10px 0;
  border-radius: 15px;
  min-width: 260px;
}
.cafe-card__img {
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.cafe-card__body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
}
.cafe-card__body__cafe-name {
  display: flex;
  flex-flow: column nowrap;
}
.cafe-card__body__cafe-name a {
  font-weight: 500;
  padding-bottom: 5px;
}
.cafe-card__body a {
  text-decoration: none;
  color: inherit;
}
.cafe-card__body i {
  font-size: 25px;
}

@media screen and (min-width: 1280px) {
  .flow-demo ul {
    width: 75%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 570px) {
  .cta-block h1 {
    padding: 0 5px;
  }
  .cta-block a {
    font-size: 16px;
  }

  .flow-bullet {
    width: 100%;
  }

  .cafe-card {
    width: 100%;
    max-width: 350px;
  }
}
main > div {
  background-image: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  height: 50vh;
}

.cafe {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #f6f6f6;
  width: 90%;
  margin: 0 auto;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 20px;
  position: relative;
  top: -20vh;
}
.cafe__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 0;
}
.cafe__header__heading {
  font-family: "Shrikhand", sans-serif;
  margin: auto 0;
}
.cafe__header i {
  font-size: 40px;
  padding-right: 25px;
}
.cafe__dish-category {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.cafe__dish-category h2 {
  text-transform: uppercase;
  color: #353535;
  border-bottom: #99E2D0 3px solid;
  padding-bottom: 5px;
  width: 7%;
}
.cafe__dish-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.dish-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
  max-width: 350px;
}
.dish-card__heading {
  font-weight: 500;
  margin: 0;
  padding-bottom: 5px;
  font-size: 20px;
}
.dish-card__body {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.dish-card__body__ingredient {
  font-weight: 200;
  font-size: 17px;
}
.dish-card__body__price {
  font-weight: 500;
}

@media screen and (max-width: 570px) {
  main > div {
    height: 30vh;
  }

  .cafe {
    width: 100%;
    margin: 0;
    top: -5vh;
  }

  .dish-card {
    max-width: none;
    width: 100%;
  }
}
