* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.h-boxed {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}
.h-boxed--home-cta {
  max-width: 450px;
  margin: 0 auto;
}

.v-boxed {
  padding-top: 50px;
  padding-bottom: 50px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear-up {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes disappear {
  0%, 80% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@media screen and (max-width: 570px) {
  html, main {
    overflow-x: hidden;
  }

  .h-boxed {
    z-index: 1;
    padding-right: 20px;
    padding-left: 20px;
  }
  .h-boxed__home-cta {
    max-width: 240px;
  }
}
.headerblock {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}
.headerblock__back-arrow {
  position: absolute;
  top: 28px;
  padding-left: 25px;
}
.headerblock__back-arrow i {
  font-size: 25px;
  color: #000000;
}
.headerblock__logo-wrapper {
  width: fit-content;
  margin: 0 auto;
}
.headerblock__logo-wrapper__logo {
  display: block;
  text-align: center;
}
.headerblock__logo-wrapper__logo img {
  height: 40px;
  margin: 20px 0 10px 0;
}
.headerblock__localization {
  background-color: #eaeaea;
  text-align: right;
  padding: 15px 0;
  box-shadow: inherit !important;
}
.headerblock__localization input {
  border: none;
  background-color: #eaeaea;
  font-weight: 500;
  width: 130px;
}
.headerblock__localization div {
  color: #353535;
}
.headerblock nav {
  max-width: 1320px;
  margin: 0 auto;
  z-index: 1;
}
.headerblock section {
  width: 100vw;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 570px) {
  .headerblock {
    align-items: center;
  }
  .headerblock__back-arrow {
    top: 22px;
  }
  .headerblock__back-arrow i::before {
    font-size: 20px;
  }
  .headerblock__logo-wrapper__logo img {
    height: 25px;
    margin: 23px 0 7px 0;
  }
  .headerblock__localization {
    width: 100%;
    text-align: center;
    order: 2;
    z-index: -1;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) !important;
  }
  .headerblock__localization div {
    justify-content: center;
    padding: 10px 0;
  }
}
body {
  min-height: 100vh;
  margin: 0;
}

footer {
  background-color: #353535;
}

.footerblock {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
}
.footerblock__logo {
  font-family: "Shrikhand", sans-serif;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  top: 4px;
}
.footerblock__element a {
  color: #ffffff;
  text-decoration: none;
  margin: auto 15px auto 0;
  position: relative;
  top: 3px;
}
.footerblock__element a i {
  padding: 0 4px 0 0;
  min-width: 23px;
}
.footerblock__element a span {
  font-weight: 400;
}
.footerblock__column {
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 768px) {
  .footerblock {
    flex-flow: column nowrap;
  }
  .footerblock__element {
    padding-bottom: 10px;
    flex-direction: column;
  }
  .footerblock__element a {
    padding: 5px 20px 5px 0;
  }
}
.spinner-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -1;
  animation: disappear 2500ms;
  background-color: #ffffff;
}
.spinner-loader div {
  font-family: "Shrikhand", sans-serif;
  width: fit-content;
  margin: auto;
  font-size: 32px;
}
.spinner-loader div::after {
  content: "";
  display: inherit;
  position: relative;
  margin: 20px auto 0px auto;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  border-color: #9356DC transparent #FF79DA transparent;
  animation: spinner 700ms linear infinite;
}

.iconblock {
  display: block;
}
.iconblock--footer {
  padding: 0 10px 10px 0;
}
.iconblock--localization {
  padding-right: 0 !important;
}
.iconblock i {
  font-size: 15px;
  padding-right: 15px;
}

.heading-lev1 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 20px;
}

.button-v1 {
  background: linear-gradient(174deg, #FF79DA 0%, #9356DC 70%);
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  max-width: 275px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  opacity: 1;
  position: relative;
  z-index: 1;
}
.button-v1--home {
  padding: 15px 30px;
  margin: 15px auto;
}
.button-v1--restaurant {
  padding: 15px 60px;
  margin: 40px auto;
}
.button-v1:hover::after {
  opacity: 1;
}
.button-v1::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: linear-gradient(174deg, #ffb0f7 0%, #be91f5 70%);
  border-radius: 30px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  z-index: -1;
  transition: opacity 250ms;
}

.fa-heart {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
}

.fa-stack-1 {
  position: absolute;
  text-align: right;
  right: 10px;
  font-weight: 300;
}

.fa-stack-2 {
  position: absolute;
  text-align: right;
  right: 10px;
  font-weight: 600;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-stack-2:hover::before {
  opacity: 1;
}
.fa-stack-2::before {
  opacity: 0;
  transition: opacity 750ms ease-out;
}

.appear-up--1 {
  animation: appear-up 750ms 200ms ease-out backwards;
}
.appear-up--2 {
  animation: appear-up 750ms 350ms ease-out backwards;
}
.appear-up--3 {
  animation: appear-up 750ms 500ms ease-out backwards;
}
.appear-up--4 {
  animation: appear-up 750ms 650ms ease-out backwards;
}

@media screen and (max-width: 570px) {
  .heading-lev1 {
    font-size: 27px;
  }
}
.cta-block {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.cta-block__claim {
  font-weight: 200;
  padding: 10px 0;
}
.cta-block a {
  display: block;
}

.flow-demo ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-left: 0;
}

.flow-bullet {
  display: inline-flex;
  background-color: #f6f6f6;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  padding: 25px 0;
  text-align: center;
  border-radius: 20px;
  min-width: 250px;
  max-width: 300px;
  margin: 10px 0;
  position: relative;
}
.flow-bullet div {
  background-color: #9356DC;
  font-size: 14px;
  color: #ffffff;
  padding: 2px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  left: -10px;
  margin-right: 5%;
}
.flow-bullet i {
  color: #353535;
}
.flow-bullet span {
  font-size: 15px;
  font-weight: 500;
}
.flow-bullet:hover::after {
  opacity: 1;
}
.flow-bullet:hover div {
  opacity: 1;
  z-index: 1;
}
.flow-bullet:hover div::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  transition: all 250ms;
}
.flow-bullet:hover i {
  opacity: 1;
  z-index: 1;
}
.flow-bullet:hover i::before {
  color: #9356DC;
}
.flow-bullet:hover i::after {
  opacity: 0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  transition: all 250ms;
}
.flow-bullet:hover span {
  opacity: 1;
  z-index: 1;
}
.flow-bullet:hover span::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  transition: all 250ms;
}
.flow-bullet::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #f5edff;
  border-radius: 20px;
  transition: all 250ms;
}

.cafe-portfolio {
  background-color: #f6f6f6;
}
.cafe-portfolio__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.cafe-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  margin: 10px 0;
  border-radius: 15px;
  min-width: 260px;
  position: relative;
  text-decoration: none;
  color: #000;
}
.cafe-card__img {
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.cafe-card__banner {
  padding: 6px 15px;
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  right: 0;
  margin: 12px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 400;
}
.cafe-card__body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
}
.cafe-card__body__cafe-name {
  display: flex;
  flex-flow: column nowrap;
}
.cafe-card__body__cafe-name__heading {
  font-weight: 500;
}
.cafe-card__body i::before {
  font-size: 25px;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .flow-demo ul {
    width: 75%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 570px) {
  .cta-block h1 {
    padding: 0 5px;
  }
  .cta-block a {
    font-size: 16px;
  }

  .flow-bullet {
    width: 100%;
    min-width: inherit;
  }

  .cafe-card {
    width: 100%;
    max-width: 350px;
  }
}
main > div {
  background-size: cover;
  height: 25vh;
}

.cafe {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #f6f6f6;
  max-width: 1320px;
  width: 80%;
  margin: 0 auto;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 20px;
  position: relative;
  margin-top: -7vh;
}
.cafe__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 0;
}
.cafe__header div {
  font-size: 30px;
}
.cafe__header__heading {
  font-family: "Shrikhand", sans-serif;
  margin: auto 0;
}
.cafe__img {
  border-style: none;
  height: 25vh;
  object-fit: cover;
  width: 100%;
  object-position: 50% 50%;
}
.cafe__dish-category {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.cafe__dish-category h2 {
  text-transform: uppercase;
  color: #353535;
  border-bottom: #99E2D0 3px solid;
  padding-bottom: 5px;
  max-width: 45px;
  width: 7%;
  min-width: 25px;
}
.cafe__dish-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.dish-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin: 0 auto 20px auto;
  width: 416px;
}
.dish-card__description {
  width: 100%;
  min-width: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding: 15px;
}
.dish-card__description__heading {
  font-weight: 500;
  margin: 0;
  padding-bottom: 5px;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dish-card__description__body {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.dish-card__description__body__ingredient {
  font-weight: 200;
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dish-card__description__body__price {
  font-weight: 500;
}
.dish-card:hover .dish-card__order {
  width: 25%;
  cursor: pointer;
}
.dish-card:hover .dish-card__order::before {
  opacity: 1;
  transform: rotate(360deg);
}
.dish-card__order {
  display: flex;
  background-color: #99E2D0;
  color: #ffffff;
  width: 0%;
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 250ms ease-out;
}
.dish-card__order::before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  font-weight: 600;
  margin: auto;
  font-size: 25px;
  opacity: 0;
  transform: rotate(0deg);
  transition: all 300ms linear;
}

@media screen and (max-width: 1280px) {
  .dish-card {
    width: 290px;
  }
}
@media screen and (max-width: 1024px) {
  .cafe__dish-list {
    justify-content: flex-start;
  }

  .dish-card {
    max-width: none;
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .dish-card {
    max-width: none;
    width: 80%;
  }
}
@media screen and (max-width: 570px) {
  main > div {
    height: 30vh;
  }

  .cafe {
    width: 100%;
    margin: 0;
    margin-top: -5vh;
  }

  .dish-card {
    width: 100%;
  }
  .dish-card__description__heading {
    white-space: inherit;
  }
  .dish-card__description__body__ingredient {
    white-space: inherit;
  }
}
