main>div {
    background-image: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
    height: 25vh;
}

.cafe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: $light-grey;
    max-width: 1320px;
    width: 80%;
    margin: 0 auto;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 20px;
    position: relative;
    margin-top: -7vh;
    &__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 20px 0;
        &__heading {
            font-family: "Shrikhand", sans-serif;
            margin: auto 0;            
        }
    }
    &__dish-category {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: stretch;
        & h2 {
            text-transform: uppercase;
            color: $dark-grey;
            border-bottom: $tertiary 3px solid;
            padding-bottom: 5px;
            max-width: 45px;
            width: 7%;
            min-width: 25px;
        }
    }
    &__dish-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;
        position: relative;
    }
}

.dish-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: $white;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 15%);
    border-radius: 15px;
    margin: 0 auto 20px auto;
    width: 416px;
    &__description {
        width: 100%;
        min-width: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        padding: 15px;
        &__heading {
            font-weight: 500;
            margin: 0;
            padding-bottom: 5px;
            font-size: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &__body {
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            &__ingredient {
                font-weight: 200;
                font-size: 17px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &__price {
                font-weight: 500;
            }
        }
    }
    &:hover {
        & .dish-card__order {
            width: 25%;
            cursor: pointer;
            &::before {
                opacity: 1;
                transform: rotate(360deg);
            }
        }
    }
    &__order {
        display: flex;
        background-color: $tertiary;
        color: $white;
        width: 0%;
        font-family: "Font Awesome 5 Free";
        content: "\f058";
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: all 250ms ease-out;
        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f058";
            font-weight: 600;
            margin: auto;
            font-size: 25px;
            opacity: 0;
            transform: rotate(0deg);
            transition: all 300ms linear;
        }
    }
}

@media screen and (max-width: map-get($breakpoints, large-screen)) {
    .dish-card {
        width: 290px;
    }
}

@media screen and (max-width: map-get($breakpoints, computer)) {
    .cafe {
        &__dish-list {
            justify-content: flex-start;
        }
    }
    
    .dish-card {
        max-width: none;
        width: 45%;
    }
}

@media screen and (max-width: map-get($breakpoints, tablet)) {
    .dish-card {
        max-width: none;
        width: 80%;
    }
}

@media screen and (max-width: map-get($breakpoints, smartphone)) {
    main>div {
        height: 30vh;
    }
    
    .cafe {
    width: 100%;
    margin: 0;
    margin-top: -5vh;
    }

    .dish-card {
        width: 100%;
    }
}