main>div {
    background-image: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
    height: 25vh;
}

.cafe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: $light-grey;
    max-width: 1320px;
    width: 80%;
    margin: 0 auto;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 20px;
    position: relative;
    margin-top: -7vh;
    &__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 20px 0;
        &__heading {
            font-family: "Shrikhand", sans-serif;
            margin: auto 0;            
        }
    }
    &__dish-category {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: stretch;
        & h2 {
            text-transform: uppercase;
            color: $dark-grey;
            border-bottom: $tertiary 3px solid;
            padding-bottom: 5px;
            max-width: 45px;
            width: 7%;
            min-width: 25px;
        }
    }
    &__dish-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;
    }
}

.fa-heart {
    position: relative;
    font-family: "Font Awesome 5 Free";
    content: "\f004";
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    &:active {
        opacity: 1;
        z-index: 1;
        &::before {
            top: 0;
            right: 0;
            background: -webkit-linear-gradient($secondary, $primary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: -1;
            font-weight: 600;
            transition: opacity 2s, z-index 2s;
        }
    }
}

.dish-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    background-color: $white;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 15%);
    border-radius: 15px;
    padding: 15px;
    margin: 0 auto 20px auto;
    width: 416px;
    &__heading {
        font-weight: 500;
        margin: 0;
        padding-bottom: 5px;
        font-size: 20px;
    }
    &__body {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        &__ingredient {
            font-weight: 200;
            font-size: 17px;
        }
        &__price {
            font-weight: 500;
        }
    }
}

@media screen and (max-width: map-get($breakpoints, large-screen)) {
    .dish-card {
        width: 290px;
    }
}

@media screen and (max-width: map-get($breakpoints, computer)) {
    .cafe {
        &__dish-list {
            justify-content: flex-start;
        }
    }
    
    .dish-card {
        max-width: none;
        width: 45%;
    }
}

@media screen and (max-width: map-get($breakpoints, tablet)) {
    .dish-card {
        max-width: none;
        width: 80%;
    }
}

@media screen and (max-width: map-get($breakpoints, smartphone)) {
    main>div {
        height: 30vh;
    }
    
    .cafe {
    width: 100%;
    margin: 0;
    top: -5vh;
    }

    .dish-card {
        width: 100%;
    }
}