.headerblock {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    &__back-arrow {
        position: absolute;
        top: 80px;
        padding-left: 25px;
        & i {
            font-size: 25px;
            color: $black;
        }
    }
    &__logo-wrapper {
        width: fit-content;
        margin: 0 auto;
        &__logo {
            display: block;
            text-align: center;
            & img {
                height: 40px;
                margin: 20px 0 10px 0;
            }
        }
    }
    &__localization {
        background-color: $grey;
        text-align: right;
        padding: 15px 0;
        box-shadow: inherit !important;
        & span {
            font-weight: 500;
        }
        & div {
            color: $dark-grey;
        }
    }
    & nav {
        max-width: 1320px;
        margin: 0 auto;
        z-index: 1;
        }
    & section {
        width: 100vw;
        box-shadow: 0px 5px 5px rgb(0 0 0 / 15%);
    }
}

@media screen and (max-width: map-get($breakpoints, smartphone)) {

    .headerblock {
        align-items: center;
        &__back-arrow {
            top: 22px;
        }
        &__localization {
            width: 100%;
            text-align: center;
            order: 2;
            box-shadow: 0px 5px 5px rgb(0 0 0 / 15%) !important;
            & div {
                    justify-content: center;
                    padding: 10px 0;
                }
        }
    }
}